html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.mainContainer {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.logo {
  width: 20%;
  height: 100%;
  min-width:50px
}

@font-face {
  font-family: NorseBold;
  src: url(Norse-Bold.otf)
}

.logoText {
  font-family: NorseBold;
  color: white;
  font-size: calc(4vw + 4vh);
  height: 100%;
  display: flex;
  align-items: center;

}

.logoContainer::before {
  content: "";
  display: block;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  bottom: 30%;
  background-color: rgba(215, 209, 205, 0.2);
  z-index: -1;
}


.logoContainer {
  position: absolute;
  top: 10%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.background-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.background {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
}

.secondContainer {
  min-height: 750px;
  margin-left: 5%;
  width: 75%;
  height: 100%;
  background-color: rgb(245, 245, 245);
  position: absolute;
  top: 0;
  right: 0;
}

.row {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}

.column1, .column2 {
  flex: 1;
  padding: 10px;
  padding-left: 5%;
}

label {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:#006e0d;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  margin-left: 5%;
}

input[type="text"], input[type="password"] {
  border-radius: 8px;
  border-color: aliceblue;
  width: 50%;
  padding: 10px;
  margin-left:5%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #022f26;
  color: white;
  border-radius: 6px;
  border-width: 0;
  width: 35%;
  margin: 3%;
  margin-left: 5%;
  padding: 15px;
  font-weight: bolder;
}

.secondContainerChild1 {
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.secondContainerChild2 {
  background-color: white;
}

p, h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin-left: 5%;
}
p {
  font-size: 1.3em;

}

h1 {
  padding-top: 20px
}

a:hover {
  color: red
}

a:link {
  color: #137618
}

.footerLink {
  
  color:white;
}

footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 25%;
  height: 20px;  
  font-family: sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 0.8rem;
  opacity: 0.7;
  color: white;
}

